body {
  font-family: "Lato", sans-serif;
  color: rgba(234, 250, 185, 0.9);
}
h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}

ul {
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 30px;
}
li {
  text-align: left;
  list-style: none;
}

.col {
  max-width: 600px;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}
.current-temperature-number {
  font-size: 50px;
}
.degree {
  display: inline-block;
  position: relative;
  top: 0;
  left: 2px;
}
.active {
  color: rgba(234, 250, 185, 0.9);
  cursor: default;
}
.active:hover {
  text-decoration: none;
  color: rgba(234, 250, 185, 0.9);
}
.termometer-icon {
  position: relative;
  bottom: 1px;
  right: 5px;
}
.max-min-temperature {
  font-size: 16px;
}
.current-details {
  margin-top: 50px;
  margin-bottom: 0;
}
.icon p {
  position: relative;
  bottom: 20px;
  left: 15px;
}
.icon p:first-letter {
  text-transform: uppercase;
}
