body {
  font-family: "Lato", sans-serif;
  background-image: url("img/world-at-night.jpg");
  height: fit-content;
  color: rgba(234, 250, 185, 0.9);
}
h1 {
  display: inline;
  text-align: center;
  line-height: 60px;
}

h5 {
  text-align: center;
  border-bottom: 1px solid rgba(234, 250, 185, 0.9);
  padding-bottom: 5px;
  width: fit-content;
}

h3 {
  line-height: 50px;
}

.container {
  border-radius: 5px;
  max-width: 800px;
  box-shadow: 10px;
  height: 630px;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

.termometer {
  position: relative;
  bottom: 3px;
}
